body {
    width: 100vw;
    height: auto;
}

.menu {
    background-color: rgb(222, 63, 63);
    width: 100vw;
    height: 3vw;
}

.main {
    width: 100vw;
}

.phone_image {
    background-color: rgb(144, 6, 6);
    width: 100vw;
    height: 40vw;
}

.six_phones {
    background-color: rgb(224, 109, 109);
    width: 100vw;
    height: 60vw;
    margin-top: .5vw;

}

.description {
    background-color: rgb(229, 75, 75);
    width: 40vw;
    height: 10vw;
    position: relative;
    margin-left: 30vw;
    top: 5vw;
}

.two_phones {
    background-color: rgb(118, 60, 60);
    width: 100vw;
    height: 60vw;
    margin-top: .5vw;

}

.phone_description {
    background-color: rgb(229, 75, 75);
    width: 40vw;
    height: 10vw;
    position: relative;
    margin-left: 30vw;
    top: 5vw;
}

.six_images {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vw 50vw 50vw;

}

.lady_image {
    background-color: rgb(242, 60, 60);
    height: 49vw;
    width: 49vw;
    margin: .5vw;
    
}

.tv {
    background-color: rgb(147, 40, 40);
    height: 3vw;
    width: 7vw;
    left: 20vw;
    top: 5vw;
    position: relative;
}

.title {
    background-color: rgb(147, 40, 40);
    height: 12vw;
    width: 20vw;
    left: 13vw;
    margin-top: 30vw;
    position: relative; 
}

.iphones {
    background-color: rgb(195, 25, 25);
    height: 49vw;
    width: 49vw;
    margin-top: .5vw;
    
}

.iphone_description {
    background-color: rgb(229, 75, 75);
    height: 12vw;
    width: 26vw;
    position: relative;
    left: 12vw;
    top: 5vw;
}

.mac {
    background-color: rgb(209, 11, 11);
    height: 49vw;
    width: 49vw;
    margin-left: .5vw;
    
}

.mac_description {
    background-color: rgb(229, 75, 75);
    height: 12vw;
    width: 26vw;
    position: relative;
    left: 12vw;
    top: 5vw;

}

.airpods {
    background-color: rgb(142, 43, 43);
    height: 49vw;
    width: 49vw;
    
}

.airpod_description {
    background-color: rgb(229, 75, 75);
    height: 12vw;
    width: 26vw;
    position: relative;
    left: 12vw;
    top: 5vw;
}

.watch {
    background-color: rgb(226, 146, 146);
    height: 49vw;
    width: 49vw;
    margin-left: .5vw;
    
}

.watch_description {
    background-color: rgb(229, 75, 75);
    height: 12vw;
    width: 26vw;
    position: relative;
    left: 12vw;
    top: 5vw;
}

.arcade {
    background-color: rgb(195, 25, 25);
    height: 49vw;
    width: 49vw;
}

.arcade_description {
    background-color: rgb(229, 75, 75);
    height: 12vw;
    width: 26vw;
    position: relative;
    left: 12vw;
    top: 5vw;
}

.footer {
    background-color: rgb(216, 126, 126);
    width: 99vw;
    height: 20vw;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.disclaimer {
    background-color: rgb(229, 75, 75);
    width: 10vw;
    margin-right: 4vw;
}
.column {
    background-color: rgb(229, 75, 75);
    width: 10vw;
    margin-right: 4vw;

}
