body {
    width: 100vw;
    height: auto;

}

.menu {
    background-color: rgb(231, 244, 230);
    width: 100vw;
    height: 3vw;
    grid-template-columns: 25vw 25vw 50vw;
    grid-template-rows: 100vw;
}

.about {
    background-color: rgb(131, 255, 123);
    width: 8vw;
    height: 1.2vw;
    margin-left: 2vw;
    margin-top: 1vw;
    position: relative;
    float: left;
}

.other {
    background-color: rgb(131, 255, 123);
    width: 8vw;
    height: 1.2vw;
    margin-left: 70vw;
    margin-top: 1vw;
    position: relative;
    float: left;
}

.account {
    background-color: rgb(23, 77, 18);
    width: 4vw;
    height: 2vw;
    margin-top: .5vw;
    margin-left: 90vw;
    position: absolute;

}

.main {
    width: 100vw;
    height: auto;
}

.logo {
    width: 30vw;
    height: 8vw;
    background-color: rgb(62, 92, 60);
    margin-left: 35vw;
    margin-top: 15vw;

}

.search {
    width: 60vw;
    height: 3vw;
    background-color: rgb(167, 227, 162);
    margin: auto;
    margin-top: 4vw;
}

.searchbar {
    width: 14vw;
    height: 3vw;
    background-color: rgb(16, 114,8);
    position: absolute;
    margin-top: 7vw;
    margin-left: 15vw;
}

.google_search {
    width: 15vw;
    height: 3vw;
    background-color: rgb(16, 114,8);
    position: absolute;
    margin-top: 7vw;
    margin-left: 30vw;
}

.google_search {
    width: 100vw;
    height: 4vw;
    background-color: rgb(29, 191,16);
    position: absolute;
    bottom: 0vw;
    right: -1vw;
}