body {
    background-color:white;
    width: 100vw;
    height: 100vw;
    margin: auto;
}

.main {
    width: 100vw;
    height: 100vw;
    margin-left: 1vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vw;
    grid-column-gap: 1em;
    
}

.mainpagebutton {
    width: 4vw;
    height: auto;
    margin-left: 1vw;
    
}


.topbar {
    height: 10vw;
    width: 75vw;
    display: grid;
    margin-top: 2vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

.mainbutton {
    height: 35%;
    background-color: white;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin; 
    color: rgb(186, 142, 82);
    font-weight: 100;
    border-radius: 50vw;
    margin-left: 1vw;
}

#hare {
    height: 3.5vw;
    width: auto;
    margin-left: -.1vw;

}

#andrewhare {
    color: rgb(186, 142, 82);
    font-family: cardo, serif;
    margin-left: 5vw;
    margin-top: -.1vw;
    font-size: 1.5vw;
    text-decoration: none;
}

#portfolio {
    font-family: 'Montserrat';
    margin-left: 4.75vw;
    font-size: 2.2vw;
    margin-top: -.9vw;
}

.aboutme {
    height: 35%;
    background-color: white;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin;
    text-align: center;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
    padding-top: 1vw;
    text-decoration: none;
}
.designs {
    height: 35%;
    background-color: white;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin;
    text-align: center;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
    text-decoration: none;
    padding-top: 1vw;
}
.photography {
    height: 35%;
    background-color: white;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin;
    text-align: center;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
    text-decoration: none;
    padding-top: 1vw;
}

.tile {
    height: 22vw;
    width: fit-content;
    margin: auto;
}

#image {
    height: 20vw;
    width: auto;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .1vw;
    position: absolute;
    margin-top: -1vw;
}

.caption {
    position: relative;
    height: 2.2vw;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .09vw;
    border-radius: 3%;
    padding-left: .5vw;
    text-decoration: none;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––photoall–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.mainp {
    width: 100vw;
    margin-left: 1vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10vw;
    
}

.tilep {
    height: auto;
    width: fit-content;
    margin: auto;
}

#imagep {
    height: auto;
    width: 90%;
    margin-left: 4vw;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .1vw;
    position: relative;
    
}

.captionp {
    width: 89.5vw;
    position: absolute;
    margin-left: -90.2vw;
    margin-top: 60.1vw;
    height: 2.2vw;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .09vw;
    border-radius: 3%;
    padding-left: .5vw;
    text-decoration: none;
    
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––SinglePhotoPages–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.mainsection {
    margin-top: -3vw;
    width: 100vw;
}

.photographyp {
    height: 35%;
    background-color: rgb(151, 114, 83);
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
}

img {
    position: absolute;
}

#imsize {
    height: 40vw;
    width: auto;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .1vw;
    margin-left: 5vw;
}


.title {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 2.5vw;
    margin-left: 67vw;
}

.date {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 1.5vw;
    margin-left: 67vw;
    margin-top: 2vw;
}

.medium {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 2vw;
    margin-left: 67vw;
}

.description {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 1vw;
    max-width: 19vw;
    margin-left: 67vw;
    margin-top: 1vw;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––OpenPage–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/


.centerbox {
    margin: auto;
    margin-top: 8vw;
    height: 40vw;
    width: 80vw;
    background-color: rgb(151, 114, 83);
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .3vw;
    color: white;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
}

#openhare {
    height: 40.7vw;
    width: auto;
    margin-left: -1vw;
    margin-top: -.4vw;
}

.enter {
    font-family: cardo, serif;
    text-decoration: underline;
    font-size: 10vw;
    margin-left: 45vw;
    margin-top: 5vw;
}

.openandrewhare {
    font-family: cardo, serif;
    font-size: 4vw;
    margin-left: 45vw;
    margin-top: 1vw;
}

.openportfolio {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    margin-left: 44.2vw;
    margin-top: -2.5vw;
}

/*–––––––––––––––––––––––designall––––––––––––––––––––––––––*/

.maind {
    width: 100vw;
    margin-left: 1vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vw;
    grid-column-gap: 1em;

}

.designsd {
    height: 35%;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: thin;
    text-align: center;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 100;
    border-radius: 50vw;
    text-decoration: none;
}

.captiond {
    position: absolute;
    margin-top: -.35vw;
    height: 2.2vw;
    color: rgb(186, 142, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    border: rgb(186, 142, 82);
    border-style: solid;
    border-width: .09vw;
    border-radius: 3%;
    padding-left: .5vw;
    text-decoration: none;
}

/*–––––––––––––––––––––––––––––––singledesignpage––––––––––––––––––––––––*/

.mainsectiond {
    margin-top: -3vw;
    width: 100vw;
}

.muchneeded {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}
/*–––––––––––––––––––––––––––––––––-aboutme––––––––––––––––––––––*/

#itme {
    width: 20vw;
    height: auto;
    margin-left: 60vw;
    border:rgb(151, 114, 83);
    border-style: solid;
    border-width: 2vw;
    border-radius: 50vw;
    text-decoration: none;
}

.descriptiona {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 1vw;
    max-width: 29vw;
    margin-top: 5vw;
    margin-left: -33.5vw;
}

.titlea {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 2.5vw;
}

.mediuma {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 1.5vw;
    margin-top: -3vw;
    margin-left: .2vw;
}

.datea {
    font-family: cardo, serif;
    color: rgb(151, 114, 83);
    font-size: 2vw;
    margin-top: 20vw;
    margin-left: -67.2vw;
}

/*––––––––––––––––––––––––––––––––––––––SMART PHONES–––––––––––*/

@media only screen and (max-width: 800px) {

    body {
        background-color:white;
        width: 100vw;
        height: 100vw;
        margin: auto;
    }
    
    .main {
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 5vw;
        grid-column-gap: 1em;
        
    }
    
    .mainpagebutton {
        width: 4vw;
        height: auto;
        margin-left: 1vw;
        
    }
    
    
    .topbar {
        position: relative;
        height: 15vw;
        width: 90vw;
        display: grid;
        margin-top: 200vw;
        margin-left: 5vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
    }
    
    .mainbutton {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin; 
        color: rgb(186, 142, 82);
        font-weight: 100;
        border-radius: 50vw;
        margin-left: 1vw;
    }
    
    #hare {
        height: 5.5vw;
        width: auto;
        margin-left: -.1vw;
    
    }
    
    #andrewhare {
        color: rgb(186, 142, 82);
        font-family: cardo, serif;
        margin-left: 8vw;
        margin-top: 1vw;
        font-size: 1.1vw;
        text-decoration: none;
    }
    
    #portfolio {
        font-family: 'Montserrat';
        margin-left: 8vw;
        font-size: 1.6vw;
        margin-top: -.9vw;
    }
    
    .aboutme {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    .designs {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
        
    }
    .photography {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .tile {
        height: 22vw;
        width: fit-content;
        margin: auto;
    }
    
    #image {
        height: 20vw;
        width: auto;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        position: absolute;
        margin-top: -1vw;
    }
    
    .caption {
        position: relative;
        height: 2.2vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
    }
    /*––––––––––––––––––––––––––––––––––––––smartphotoall–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    .mainp {
        width: 100vw;
        margin-left: 12vw;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10vw;
        margin-top: -200vw;
    }
    
    .tilep {
        height: auto;
        width: fit-content;
        margin: auto;
        
    }
    
    #imagep {
        height: auto;
        width: 100%;
        margin-left: -12vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        position: relative;
    
    }
    
    .captionp {
        width: 100vw;
        position: absolute;
        margin-left: -100vw;
        margin-top: 66.7vw;
        height: 4vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
        
    }
    
    /*–––––––––––––––––––––––––––––––––––––––––––––––––––––SinglePhotoPages–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    
    .mainsection {
        margin-top: -100vw;
        width: 100vw;
        margin-left: -5vw;
    }
    
    .photographyp {
        height: 35%;
        background-color: rgb(151, 114, 83);
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    
    img {
        position: absolute;
    }
    
    #imsize {
        height: 67vw;
        width: auto;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        margin-left: 5vw;
        margin-top: -70vw;
    }
    
    
    .title {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 4vw;
        margin-top: -15vw;
        margin-left: 10vw;
    }
    
    .date {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2vw;
        margin-left: 10vw;
        margin-top: 2vw;
    }
    
    .medium {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 3vw;
        margin-left: 10vw;
    }
    
    .description {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2.5vw;
        max-width: 50vw;
        margin-left: 10vw;
        margin-top: 1vw;
    }
    
    /*–––––––––––––––––––––––––––––––––––––––––––––––––––––OpenPage–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    
    
    .centerbox {
        margin: auto;
        margin-top: 8vw;
        height: 40vw;
        width: 80vw;
        background-color: rgb(151, 114, 83);
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .3vw;
        color: white;
        font-size: 2.5vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    
    #openhare {
        height: 40.7vw;
        width: auto;
        margin-left: -1vw;
        margin-top: -.4vw;
    }
    
    .enter {
        font-family: cardo, serif;
        text-decoration: underline;
        font-size: 10vw;
        margin-left: 45vw;
        margin-top: 5vw;
    }
    
    .openandrewhare {
        font-family: cardo, serif;
        font-size: 4vw;
        margin-left: 45vw;
        margin-top: 1vw;
    }
    
    .openportfolio {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        margin-left: 44.2vw;
        margin-top: -2.5vw;
    }
    
    /*–––––––––––––––––––––––designall––––––––––––––––––––––––––*/
    
    .maind {
        width: 100vw;
        margin-left: 2vw;
        margin-top: -180vw;
        display: grid;
        
    
    }
    
    .designsd {
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .captiond {
        position: absolute;
        margin-top: -.35vw;
        height: 2.2vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
    }
    
    /*–––––––––––––––––––––––––––––––singledesignpage––––––––––––––––––––––––*/
    
    .mainsectiond {
        margin-top: -3vw;
        width: 100vw;
        margin-left: 10vw;
    }
    
    .muchneeded {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 1em;
    }
    /*–––––––––––––––––––––––––––––––––-aboutme––––––––––––––––––––––*/
    
    #itme {
        position: absolute;
        margin-left: 25vw;
        margin-top: -180vw;
        width: 40vw;
        height: auto;
        border:rgb(151, 114, 83);
        border-style: solid;
        border-width: 2vw;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .descriptiona {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 1.5vw;
        max-width: 29vw;
        margin-top: 5vw;
        margin-left: -24vw;
        margin-top: -120vw;
    }
    
    .titlea {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 3vw;
        margin-left: 24vw;
        margin-top: -130vw;
    }
    
    .mediuma {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2vw;
        margin-top: -108vw;
        margin-left: 24vw;

    }
    
    .datea {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 3vw;
        margin-top: -95vw;
        margin-left: -52.5vw;
    }
    

}

/*–––––––––––TABLETS–––––––––––*/

@media only screen and (min-width: 800px) and (max-width: 1280px) {

    body {
        background-color:white;
        width: 100vw;
        height: 100vw;
        margin: auto;
    }
    
    .main {
        width: 100vw;
        margin-left: 2vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 5vw;
        grid-column-gap: 1em;
        
    }
    
    .mainpagebutton {
        width: 4vw;
        height: auto;
        margin-left: 1vw;
        
    }
    
    
    .topbar {
        height: 20vw;
        width: 120vw;
        display: grid;
        margin-top: 80vw;
        margin-left: -45vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
        transform: rotate(-90deg);
    }
    
    .mainbutton {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin; 
        color: rgb(186, 142, 82);
        font-weight: 100;
        border-radius: 50vw;
        margin-left: 1vw;
    }
    
    #hare {
        height: 7vw;
        width: auto;
        margin-left: -.1vw;
    
    }
    
    #andrewhare {
        color: rgb(186, 142, 82);
        font-family: cardo, serif;
        margin-left: 8vw;
        margin-top: -.5vw;
        font-size: 2.2vw;
        text-decoration: none;
    }
    
    #portfolio {
        font-family: 'Montserrat';
        margin-left: 8vw;
        font-size: 3vw;
        margin-top: -.9vw;
    }
    
    .aboutme {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    .designs {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
        
    }
    .photography {
        height: 35%;
        background-color: white;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .tile {
        height: 22vw;
        width: fit-content;
        margin: auto;
    }
    
    #image {
        height: auto;
        width: 100vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        position: absolute;
        margin-top: 1vw;
    }
    
    .caption {
        position: relative;
        height: 2.2vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
    }
    /*––––––––––––––––––––––––––––––––––––––smartphotoall–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    .mainp {
        width: 100vw;
        margin-left: 12vw;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10vw;
        margin-top: -80vw;
    }
    
    .tilep {
        height: auto;
        width: fit-content;
        margin: auto;
        
    }
    
    #imagep {
        height: auto;
        width: 80%;
        margin-left: 4vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        position: relative;
    
    }
    
    .captionp {
        width: 79.5vw;
        position: absolute;
        margin-left: -80.2vw;
        margin-top: 53.4vw;
        height: 2.2vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
        
    }
    
    /*–––––––––––––––––––––––––––––––––––––––––––––––––––––SinglePhotoPages–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    
    .mainsection {
        margin-top: -3vw;
        width: 100vw;
        margin-left: 10vw;
    }
    
    .photographyp {
        height: 35%;
        background-color: rgb(151, 114, 83);
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    
    img {
        position: absolute;
    }
    
    #imsize {
        height: 55vw;
        width: auto;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .1vw;
        margin-left: 5vw;
        margin-top: -70vw;
    }
    
    
    .title {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2.5vw;
        margin-top: -15vw;
        margin-left: 5vw;
    }
    
    .date {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 1.5vw;
        margin-left: 5vw;
        margin-top: 2vw;
    }
    
    .medium {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2vw;
        margin-left: 5vw;
    }
    
    .description {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 1vw;
        max-width: 19vw;
        margin-left: 5vw;
        margin-top: 1vw;
    }
    
    /*–––––––––––––––––––––––––––––––––––––––––––––––––––––OpenPage–––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
    
    
    .centerbox {
        margin: auto;
        margin-top: 8vw;
        height: 40vw;
        width: 80vw;
        background-color: rgb(151, 114, 83);
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .3vw;
        color: white;
        font-size: 2.5vw;
        font-weight: 100;
        border-radius: 50vw;
    }
    
    #openhare {
        height: 40.7vw;
        width: auto;
        margin-left: -1vw;
        margin-top: -.4vw;
    }
    
    .enter {
        font-family: cardo, serif;
        text-decoration: underline;
        font-size: 10vw;
        margin-left: 45vw;
        margin-top: 5vw;
    }
    
    .openandrewhare {
        font-family: cardo, serif;
        font-size: 4vw;
        margin-left: 45vw;
        margin-top: 1vw;
    }
    
    .openportfolio {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        margin-left: 44.2vw;
        margin-top: -2.5vw;
    }
    
    /*–––––––––––––––––––––––designall––––––––––––––––––––––––––*/
    
    .maind {
        width: 100vw;
        margin-left: 2vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 5vw;
        grid-column-gap: 1em;
    
    }
    
    .designsd {
        height: 35%;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: thin;
        text-align: center;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5vw;
        font-weight: 100;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .captiond {
        position: absolute;
        margin-top: -.35vw;
        height: 2.2vw;
        color: rgb(186, 142, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        border: rgb(186, 142, 82);
        border-style: solid;
        border-width: .09vw;
        border-radius: 3%;
        padding-left: .5vw;
        text-decoration: none;
    }
    
    /*–––––––––––––––––––––––––––––––singledesignpage––––––––––––––––––––––––*/
    
    .mainsectiond {
        margin-top: -3vw;
        width: 100vw;
        margin-left: 10vw;
    }
    
    .muchneeded {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 1em;
    }
    /*–––––––––––––––––––––––––––––––––-aboutme––––––––––––––––––––––*/
    
    #itme {
        position: absolute;
        margin-left: 12vw;
        margin-top: -60vw;
        width: 40vw;
        height: auto;
        border:rgb(151, 114, 83);
        border-style: solid;
        border-width: 2vw;
        border-radius: 50vw;
        text-decoration: none;
    }
    
    .descriptiona {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 1.5vw;
        max-width: 29vw;
        margin-top: 5vw;
        margin-left: -22vw;
    }
    
    .titlea {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 3vw;
        margin-left: 17.5vw;
    }
    
    .mediuma {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 2vw;
        margin-top: -5vw;
        margin-left: 18vw;

    }
    
    .datea {
        font-family: cardo, serif;
        color: rgb(151, 114, 83);
        font-size: 3vw;
        margin-top: 30vw;
        margin-left: -52.5vw;
    }

}